//PRIMARY
$clr-primary-brightorange: hsl(31, 77%, 52%);
$clr-primary-darkcyan: hsl(184, 100%, 22%);
$clr-primary-verydarkcyan: hsl(179, 100%, 13%);

//NEUTRAL
$clr-neutral-white:hsla(0, 0%, 100%, 0.75); // for paragraphs
$clr-neutral-gray:hsl(0, 0%, 95%); // bg, heading, buttons

//FONT-FAMILY
$ff-bigShoulders-700: 'Big Shoulders Display', cursive;
$ff-lexenddeca-400: 'Lexend Deca', sans-serif;


